.image-fluid{
    margin-left:70%;
    width:38%;
    text-align: center;
    }
    .col-6{
       text-align: center;      
    }
    .row{
        margin-top: 2%;
    }
    table, th, td {
        border: 2px solid black;
      }
